<!DOCTYPE html>
<html>
    <header></header>
    <style>
        h2{
            background-color: rgb(194, 149, 14);
            font-weight: 400;
            font-family: 'Times New Roman', Times, serif;

        }
        form{
            
            color: rgb(48, 5, 5);
            border-radius: 20px;
            border: 2px solid black;
            background-color: rgb(47, 67, 67);
            color: aqua;

        }
       
</style>
<title><h2>Registration form</h2></title>

<form action="{% url 'register' %}" method="post"> 
    {% csrf_token %}
    <center>{{key}}
        <h2>Registration form</h2>
        Name:<input type="name" name="name"><br></br>
        Email:<input type="email" name="email"><br></br>
        Contact:<input type="contact" name="number"><br></br>
        Password:<input type="password" name="password"><br></br>
        Cpassword:<input type="cpassword" name="password"><br></br>

           <input type="submit" value="Register">
         <a href={% url 'login' %}>login</a>
           
    </center>
</form>
</html>